.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.content{
    min-width: 400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    border-radius: 16px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}