.card{
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.load-image{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.price{
    width: 100%;
    color: var(--lblue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
 
}
.item-price{
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

h2{
    font-weight: bolder;
    font-size: medium !important;


}

.lbp{
   
    color: rgba(44, 67, 72, 0.911);
    font-size: x-small;
    font-weight: normal;
    padding-inline-start: 2px;

}

.quantity{
    display: flex;
    justify-content: end;
    align-items: center !important;
    color: rgba(44, 67, 72, 0.911);
    margin-top: 2%;
}

.quantity-input{
    width: 25%;
    background-color: transparent;
    border: transparent;   
    border: 0;
    outline: 0;
    text-align: center !important;
}

.quantity-input :active{
    border: 0;
    outline: 0;
    border: transparent;
    
}

:host ::ng-deep .mat-icon{

    display: flex;
    justify-content: center;
    align-items: flex-start !important;
    background-color: var(--bgColor);
    border-radius: 50%;
    cursor: pointer;
}

.disable{
    filter:opacity(0.5);
}

img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.card-head{
    width: 100%;
    height: 46%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card-body{
    width: 100%;
    height: 50%;
}
.body-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}


.mat-card-content{
    margin-top: 2%;
}

.mat-card {

    color: rgba(44, 67, 72, 0.911);

}
.stock{
    color: var(--blue);
}


.sold-out{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sold-out-h1{
    color: red;
}



.badge{
    float: left;
    position: absolute;
    left: 2%;
    top: 2%;
    z-index: 1000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    font-size: x-small;


    height: 6%;
    width: 17%;
    flex-direction: column;
 
  
}

.red{
    background-color: #8b0000;
}

.green{
    background-color: #296e01;
}


.add-to-basket-btn{

    background-color: var(--blue);
    color: white;
    width: 100% !important;

}

.btnn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p{
    margin: 0% !important;
}
.disable-mat-icon{
    cursor: not-allowed;
    pointer-events: none;
    filter:opacity(0.5);
}


.descripton{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

