

:host ::ng-deep .mat-expansion-panel-header-title {
  font-weight: bolder;
}


.category-section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

:host ::ng-deep .mat-radio-group{
  display: flex;
  flex-direction: column;
  justify-content: start ;
  align-items: flex-start;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
 
  color: var(--blue) !important;
}

:host ::ng-deep .mat-form-field-underline {
  
  background-color: var(--blue) !important;
}

:host ::ng-deep .mat-form-field-ripple {
  
  background-color: var(--blue) !important;
  
}

:host ::ng-deep .mat-label {
  color: var(--blue) !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--blue) !important;
}