/* Border
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--blue) !important;
}

.filter-content {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

}

.clear {

  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}


.select {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}

:host ::ng-deep .mat-flat-button {
  color: var(--blue) !important;
  background-color: transparent !important;
}

::ng-deep .mat-button {
  color: var(--blue) !important;
}

:host ::ng-deep .mat-button .mat-button-wrapper>* {
  vertical-align: middle;
  margin-top: -5% !important;
  margin-left: 5% !important;
  color: var(--blue) !important;
}

:host ::ng-deep .mat-form-field {
  display: flex !important;
  position: none !important;
  text-align: none;
  margin: 0% !important;
}

::ng-deep .mat-focused .mat-form-field-label {
 
  color: var(--blue) !important;
}

::ng-deep .mat-form-field-underline {
  
  background-color: var(--blue) !important;
}

::ng-deep .mat-form-field-ripple {
  
  background-color: var(--blue) !important;
  ;
}

::ng-deep .mat-label {
  color: var(--blue) !important;
}

.clear{
  margin-top: 4.8% !important;
}

form{

  display: flex;
  justify-content: space-between !important;
  flex-direction: row;
  align-items: flex-start;
 
}
.attr-value{
  margin-left: 8%;
}

@media screen and (max-width: 780px) {
  .select {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
  }

  .clear {
    margin-top: 4% !important;
  }

  form{
    flex-direction: column;
  }

  .attr-value{
    margin-left: 0%;
  }
}

@media screen and (max-width: 480px) {
  .clear {
    margin-top: 3.5% !important;
  }
} */


/* @media screen and (min-width: 1400px) {
  .clear {
    margin-top: 1% !important;
  }
} */


:host ::ng-deep .mat-expansion-panel-header-title {
  font-weight: bolder;
}


.category-section{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;
}

:host ::ng-deep .mat-radio-group{
  display: flex;
  flex-direction: column;
  justify-content: start ;
  align-items: flex-start;
}

:host ::ng-deep .mat-focused .mat-form-field-label {
 
  color: var(--blue) !important;
}

:host ::ng-deep .mat-form-field-underline {
  
  background-color: var(--blue) !important;
}

:host ::ng-deep .mat-form-field-ripple {
  
  background-color: var(--blue) !important;
  
}

:host ::ng-deep .mat-label {
  color: var(--blue) !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--blue) !important;
}