<div class="table">
    <table>
        <thead>
            <tr class="tr">
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Add To basket</th>
            </tr>
        </thead>


        <tr app-table-item *ngFor="let item of items; let i= index" [ngClass]="{'grey':  i % 2 === 0}" [item_code]="item.item_code" [i]="i"
        [description]="item.description" [price]="item.price" [quantity]="item.quantity"
        [folder_path]="item.folder_path" [base_path]="item.base_path"
        [physical_file_name]="item.physical_file_name" [supplier]="item.supplier">
        
        </tr>


    </table>
</div>