
table{
    width: 100%;
    border-collapse: collapse; 
    background-color: white;
   
    border-radius: 5px;
}
table, th, td{
    border-color: transparent !important;
}

th{
    text-align: start !important;
}

.tr {
    border-bottom: 1px solid rgb(168, 168, 168) !important;
}


.grey{
    background-color: rgb(231, 231, 231);
}

::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
 
    text-align: start !important;
}


ng-container{
    overflow-y: hidden !important;
}

::ng-deep .dx-datagrid-content .dx-datagrid-table .dx-row > td, .dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
    vertical-align: middle !important;
}

@media screen and (max-width: 500px) {
    ::ng-deep .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
        
        font-size: x-small;
    }
}