
   
        <td>
            <div class="img">
                <img width="50" height="50" mat-card-image [src]="base_path+'/'+folder_path+'/'+physical_file_name"
                    loading="lazy" alt="Photo of an item">
            </div>
        </td>
        <td>{{description}}</td>
        <td>
            <div class="price">
                <h2>{{price | number }}</h2> <span class="lbp">LBP </span>
            </div>
        </td>
        <td>
            <div class="quantity">
                <mat-icon [ngClass]="{'disable-mat-icon': quantity<= 0}" (click)="decreaseQuantity()">remove
                </mat-icon>
                <input [disabled]="quantity<=0" (keypress)="validateNumber($event)" (keyup)="seeIfZero()"
                    class="quantity-input" type="number" [(ngModel)]="orderQuantity">
                <mat-icon [ngClass]="{'disable-mat-icon': quantity<= 0}" (click)="addQuantity()">
                    add</mat-icon>
            </div>
        </td>
        <td class="btn-td">
            <button color="primary" [disabled]="quantity<=0" mat-flat-button class="add-to-basket-btn"
                (click)="addToBasket()">Add
                To
                Basket</button>
        </td>
  
