<mat-form-field appearance="outline" >
    <mat-label>Order By</mat-label>

        <mat-select [(ngModel)]="itemsService.sortBy" (selectionChange)="sortItems()">
            <mat-option value="none">
                None
            </mat-option>
            <mat-option value="higherToLowerPrice">
                Higher To Lower price
            </mat-option>
            <mat-option value="lowerToHigherPrice">
                Lower To Higher price
            </mat-option>
        </mat-select>

</mat-form-field>