<mat-form-field  appearance="outline" >
    <mat-label>{{'Order By' | translate}}</mat-label>

        <mat-select   [(ngModel)]="itemsService.sortBy" (selectionChange)="sortItems()">
            <mat-option value="none">
                {{'None' | translate}} 
            </mat-option>
            <mat-option value="higherToLowerPrice">
                {{'Higher To Lower price' | translate}}
            </mat-option>
            <mat-option value="lowerToHigherPrice">
                {{'Lower To Higher price' | translate}}
            </mat-option>
        </mat-select>

</mat-form-field>