.content {
    margin-left: 2%;
    margin-right: 2%;
}

.grid-btn{
    background-color: grey !important;
    /* margin-left: 2%; */
    margin-inline-start: 2%;
}

.filter-and-sort{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

/* .filterAndSerch{
    direction: rtl;
} */
.sortby{
    /* margin-left: 1%; */
    margin-inline-start: 1%;
}

.drop-list{
    font-size: small;

}

.drop-list-quantity{
    font-weight: bold;
    padding-inline-start: 3px;
}
.drop-list-total{
   font-weight: bold;
}
app-filter{
    width: 50%;
}

::ng-deep .mat-divider {
    margin-bottom: 2.5% !important;

}

.i-a-f {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.search-btn {
    margin-top: 1% !important;
}


.total{
    color: var(--blue);
    padding-inline-start: 2px;
}


.lbp{
    position: absolute;
    top: 10%;
    color: rgba(44, 67, 72, 0.911);
    font-size: x-small;
    font-weight: normal;
    padding-inline-start: 2px;
}


.filterAndSerch {
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

:host ::ng-deep .mat-drawer-content {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    background-color: #f5f4f4 !important;


}

.filter-open {
    /* margin-left: 4% !important; */
    margin-inline-start: 4% !important;
    width: 86% !important;

}

:host ::ng-deep .mat-drawer {

    max-width: 20% !important;
    min-height: 100vh;
    border-right: none;
    overflow-y: hidden !important;

}

:host ::ng-deep .mat-drawer-content {
    min-height: 100vh;

}


.mat-drawer-content-width {
    width: 100% !important;
    /* direction: rtl; */
}


.items {
    /* margin-left: 1%; */
    margin-inline-start: 1%;

}

.search {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: end;
    align-items: center;
}

:host ::ng-deep .mat-button {
    border: 1px solid var(--blue);
    border-radius: 6px;
    padding: 0.5em;
    /* padding-left: 1em;
    padding-right: 1em; */
    padding-inline-start: 1em;
    padding-inline-end: 1em;
}

.mat-mini-fab-custom{
    background-color: var(--blue) !important;
}

@media screen and (max-width: 900px) {
    .search-btn {
        margin-top: 2% !important;
    }

    .items {
        /* margin-left: 0%; */
        margin-inline-start: 0%;
    }

    :host ::ng-deep .mat-drawer-content {
        width: 100% !important;
    }
    :host ::ng-deep .mat-drawer {

        max-width: 100% !important;
        min-height: 100vh;
        border-right: none;
        overflow-y: hidden !important;
    
    }


}

@media screen and (max-width: 480px) {
    .search-btn {
        margin-top: 2.5% !important;
    }
    




}


@media screen and (min-width: 1400px) {
    .search-btn {
        margin-top: 1% !important;
    }



}