<div class="content">
    <div class="filterAndSerch">
        <div class="filter-and-sort">

            <button mat-button (click)="toggleDrawer()">
                <mat-icon matPrefix>filter_list</mat-icon>
                Filter
            </button>

            <div class="sortby">
                <app-sort-by></app-sort-by>
            </div>
        </div>



        <button *ngIf="this.responsiveService.isMobile == true" (click)="goToBasket()" mat-mini-fab cdkDragBoundary=".mat-typography" cdkDrag
            mat-icon-button color="primary" aria-label="">
            <mat-icon [matBadge]="basketService.basket.length" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <button *ngIf="this.responsiveService.isMobile == false" [matMenuTriggerFor]="aboveMenu" (click)="doTotal()" (dblclick)="goToBasket()" mat-mini-fab cdkDragBoundary=".mat-typography"
            cdkDrag mat-icon-button color="primary" aria-label="">
            <mat-icon [matBadge]="basketService.basket.length" matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <mat-menu #aboveMenu="matMenu"  yPosition="below">
            <mat-list>
                <mat-list-item class="drop-list" *ngFor="let item of basketService.basket">{{item.description}}  <span class="drop-list-quantity">x{{item.orderQuantity}}</span></mat-list-item>
                <mat-list-item class="drop-list-total">Total: <span class="total"> {{basketService.total | number}} <span class="lbp">LBP</span></span> </mat-list-item>
            </mat-list>
          </mat-menu>
        <button class="grid-btn" mat-mini-fab (click)="toggleGrid()">
            <mat-icon *ngIf="responsiveService.grid == 'table'">grid_view</mat-icon> 
            <mat-icon *ngIf="responsiveService.grid == 'cards'">table_view</mat-icon> 
         </button>
    </div>

    <mat-divider></mat-divider>
    <div class="i-a-f">
        <mat-drawer-container class="mat-drawer-content-width" autosize>
            <mat-drawer fixedInViewport="true" #drawer class="mat-elevation-z8" mode="side">
                <app-filter></app-filter>
            </mat-drawer>

            <mat-drawer-content>
                <div class="items">
                    <app-items></app-items>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>

</div>